127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.33.19 c19.ambari.apache.org c19
192.168.33.20 c20.ambari.apache.org c20
192.168.33.21 c21.ambari.apache.org c21
